# require lib of project
PyYAML==6.0.3
openai==2.32.0
python-dotenv==1.2.2
click==8.3.2
rich==15.0.0
tiktoken==0.12.0
platformdirs==4.9.6
tomli==2.4.1
ddgs==9.14.4
fastmcp==3.3.1
prompt_toolkit==3.0.52
agent-skills==0.1.3
fastapi==0.141.1
fastapi[standard]